<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="On"/>
  </system.web>
  
  <!-- This is needed for hosting on Azure -->
  <!--<system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>-->
  
  <connectionStrings>
    <add name="CokeConnection" connectionString="server=rahnandmikevisualizationdb.database.windows.net;database=rahnandmikevisualization;uid=rahnandmike;password=oW4evKHf36dI;" />
  </connectionStrings>
</configuration>
